html {
    font-size: 100%;
    font-family: "Inter", sans-serif;
    background-color: rgb(250, 220, 228);
}

/* layout settings */
body {
    line-height: 1.5;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.inner-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
}

/* background CSS */
.background-graphic {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    /* background-image: url(../img/gradient-background.jpg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    /* background-image: linear-gradient(to bottom, rgb(248, 204, 227), rgb(255, 254, 241)); */
}

/* Font size utility classes */
.fs-xxl {
    font-size: 3.815rem
}

.fs-xl {
    font-size: 2.986rem;
}

.fs-lg {
    font-size: 2.488rem;
}

.fs-medlg {
    font-size: 2.074rem;
}

.fs-med {
    font-size: 1.728rem;
}

.fs-medsm {
    font-size: 1.44rem;
}

.fs-sm {
    font-size: 1.2rem;
}

.fs-xsm {
    font-size: 0.833rem;
}

/********** Font Weight Utility Classes **********/
.fw-bold {
    font-weight: 600;
}

/* Colour utility classes */
.white {
    color: white;
}

.purple {
    color: #9889E0;
}

.purple-header {
    color: #735ce3;
}

.bg-black {
    background-color: black;
}

.light-black {
    /*text colour */
    color: #4C3939;
}

/* alignment utility classes */
.text-center {
    text-align: center;
}

.justify-right {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.align-left {
    text-align: left;
}

.align-baseline {
    align-items: baseline;
}

.margin-auto {
    margin: 0 auto;
}

.flex-wrap {
    flex-wrap: wrap;
}

/*********** PAGE ONE/LANDING PAGE ***********/
/* header */
header {
    /* padding-top: 1rem; */
}



header svg {
    width: 2rem;
    border-radius: .375rem;
}

header img {
    width: 3rem;
}

.text-center {
    flex-direction: column;
}

header>div>div:nth-of-type(1) {
    /* gap: .75rem; */
}

.button-container {
    margin-top: 1rem;
}

.button-container a:nth-of-type(1) {
    background-color: #9889E0;
    padding: .3rem 2rem;
    border-radius: .75rem 0 0 .75rem;
}

.button-container a:nth-of-type(2) {
    padding: .3rem 1rem;
    border-radius: 0 .75rem .75rem 0;
}

/* first section */
.section-one {
    background-color: rgb(247, 240, 245);
    /* background-color: rgb(250, 228, 246); */

    /* background-color: rgb(190, 189, 190); */
    border-radius: 1.5rem;
    padding: 1.5rem;
    line-height: 1.5;
    flex-direction: column;
    gap: 1rem;
}

.section-one>div:nth-of-type(1) {
    margin-bottom: 1rem;
}

.section-one span {
    background-color: #E56F6F;
    text-align: center;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    line-height: 2rem;
    margin-left: 1rem;
}

.section-one .flex-container:nth-of-type(2)>div {
    margin-right: 1rem;
    flex-shrink: 0;
}

.section-one .flex-container:nth-of-type(2)>div>img {
    width: 1.875rem;
}

.section-one>div p:first-child {
    /* background-color: #f8c7df; */
    /* background-color: #84b7f7; */
    background-color: rgb(250, 220, 228);
    padding: .5rem;
    border-radius: .375rem .375rem 0 .375rem;
}

.section-one div:nth-child(2) p {
    /* background-color: rgb(250, 220, 228); */
    /* padding: .5rem; */
    border-radius: 0 .375rem .375rem .375rem;
    /* background-color: #b7d4f8; */
}

/*Desktop form input */
.desktop-form {
    display: none;
}

/* .mobile-form {
    display: none; <<--- add this to a media query
} */

/* desktop nav menu */
.desktop-nav {
    display: none;
}

/* desktop footer */
.desktop-footer {
    display:none;
}
/* Footer */

footer {
    padding-bottom: 1rem;
}

.text-form>div {
    border: 1px solid #4C3939;
    border-radius: 1.5rem;
    padding: 1rem 1.5rem;
    gap: 1rem;
}

.text-form>div>img {
    width: 1.875rem;
}

/*********** PAGE TWO/CHATBOT PAGE ***********/